<footer class="footer bg-black text-center">
  <div class="container">
    <div class="footer-logos">
      <div class="row text-center align-items-center justify-content-center">
        <div class="col-lg-4 mb-4">
          <!-- <div class="footer-text">Proyecto de</div> -->
          <a href="https://www.projectpoder.org/es/" target="_blank" class="w-inline-block">
            <img src="{{ site.baseurl }}/assets/img/logo_poder_2018.png" alt="Project PODER" class="image-1">
          </a>
        </div>
        <div class="col-lg-4 mb-4">
          <!-- <div class="footer-text">Colaboración de</div> -->
          <a href="https://saludconlupa.com/" target="_blank" class="w-inline-block">
            <img src="{{ site.baseurl }}/assets/img/saludconlupa.png" alt="Salud con Lupa" class="image-2">
          </a>
        </div>
        <div class="col-lg-4 mb-4">
          <!-- <div class="footer-text">Colaboración de</div> -->
          <a href="https://latin-america.hivos.org/" target="_blank" class="w-inline-block">
            <img src="{{ site.baseurl }}/assets/img/logo-hivos.png" alt="HIVOS" class="image-2">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>