.illustration-bg {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 35rem;
    padding-top: 48px !important;
    background: url('#{$bgHomeBolivia}') center 48px no-repeat fixed;
    background-size: 100% !important;
}
.arrow-down {
    width: 30px;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 3rem;
}
.main-content {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    h1 {
        font-size: 50px;
        line-height: 55px;
        margin: 0 1vw 2rem 1vw;
        font-weight: bolder;
        font-family: Poppins,sans-serif;
        color: #1e1e1e;
    }
    p {
        font-size: 1.7rem;
        font-weight: 500;
        color: #5b5b5f;
    }
    a {
        @extend .btn;
        @extend .btn-primary;
        margin: 2rem 0.5rem 1rem 0.5rem;
        font-size: 1rem;
    }
    .bg-blue {
        background-color: $bg-blue;
        opacity: 0.9;
    }
    .rounded {
        border-radius: 1rem !important;
    }
    .bg-padding {
        padding: 2rem 1rem 0.7rem;
    }
}

.bolivia {
    background: url('#{$bgHomeBolivia}') center 48px no-repeat fixed;
}
.costarica {
    background: url('#{$bgHomeCostaRica}') center 48px no-repeat fixed;
}
.ecuador {
    background: url('#{$bgHomeEcuador}') center 48px no-repeat fixed;
}
.guatemala {
    background: url('#{$bgHomeGuatemala}') center 48px no-repeat fixed;
}
.mexico {
    background: url('#{$bgHomeMexico}') center 48px no-repeat fixed;
}
.peru {
    background: url('#{$bgHomePeru}') center 48px no-repeat fixed;
}

.main-square-blue {
    position: absolute;
    // left: auto;
    top: -128%;
    right: -26%;
    bottom: auto;
    display: block;
    width: 90%;
    height: 85%;
    border-radius: 54px;
    background-color: $bg-blue;
    -webkit-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    transform: rotate(-23deg);
}

.second-square-blue {
    position: absolute;
    top: 40%;
    right: 90%;
    width: 80%;
    height: 85%;
    border-radius: 54px;
    background-color: $bg-blue;
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-32deg);
}

@media (min-width: 992px) {
    .illustration-bg {
        height: 100vh;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .main-content {

        h1 {
            font-size: 30px;
            line-height: 35px;
        }
        p {
            font-size: 1.2rem;
        }
    }
    .arrow-down {
        width: 20px;
        margin-top: -25px;
        margin-bottom: 1rem;
    }
}
