---
layout: default
---
<section class="main-content text-center">
  <!-- <img class="img-fluid illustration" src="{{ site.baseurl }}/assets/img/BOLIVIA.jpg" alt=""> -->
  <div class="container d-flex flex-wrap h-100 align-items-center justify-content-center">
    <div class="row w-100 bg-blue rounded bg-padding">
      <div class="col-lg-12">
        {{ content }}
      </div>
    </div>
  </div>
</section>
<!-- <section class="main-content text-center">
  <div class="container d-flex flex-wrap h-100 align-items-center justify-content-center">
    <div style="margin-top: -18rem;" class="row w-100 bg-blue rounded bg-padding">
      <div class="col-lg-12">
        {{ content }}
      </div>
    </div>
  </div>
</section> -->

<!-- {%- include contracts.html -%}

{%- include footer.html -%} -->